.stock {
  /* display: flex; */
  /* max-width: 100%; */
  /* margin: auto;
  display: center; */
  /* width: 1120px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center; */
};